/* ============== Top Nav ============== */
.topnav {
  display: flex;
  /* Align content right and use 
  margin-right: auto to put h1 at left */
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  background-color: #343941;
  color: #f2f2f2;
}

.heading {
  margin: 0;
  margin-right: auto;
  float: left;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  font-weight: 600;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #afb5bb;
  text-decoration: none;
}

.topnav .burger-icon {
  display: none;
}

.topnav .github-icon {
  width: 25px;
  display: block;
  fill: #f2f2f2;
}

.topnav .github-icon:hover {
  fill: #afb5bb;
}

@media screen and (max-width: 600px) {
  .topnav {
    display: block;
  }

  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.burger-icon {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .burger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a,
  .topnav.responsive h1 {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ============== Hero section ============== */

.hero {
  display: flex;
  flex-direction: column;
  background-color: #fafbfc;
  text-align: center;
  background-image: url("https://e360.yale.edu/assets/site/Washington-DNR-Chiwaukum-WildFires-2014-2015_WA-DNR_cropped.jpg");
  background-size: cover;
  background-position: 50%;
  color: white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.hero p {
  width: 75%;
  margin: 1em auto 0;
}

.hero > div {
  margin: 1em 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 85%;
  margin-bottom: 1em;
  padding: 0.8em 1em;
}

form button {
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  background-color: #cdd9eb;
}

/* ============== Overview section ============== */

.overview {
  padding: 1em;
  text-align: center;
}

.overview > div {
  margin: 2.5em auto;
}

/* Samples */

.samples h3 {
  margin: 1em 0;
}

.samples > p {
  width: 75%;
  margin: 1em auto 1.5em;
}

.sample-slots p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.sample-slots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  margin: 1em 0;
}

.sample-slots > div {
  background: #e4e4e4;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
}

/* Plots */
.wordcloud img {
  width: 100%;
  max-width: 800px;
}

.plots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* ============== Results section ============== */
.results {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1em;
  padding: 1em;
}

.results > div {
  padding: 1em;
}

.results h2 {
  margin-bottom: 0.5em;
}

.message-relay {
  background: #f8f8f8;
}

.message-relay {
  margin: 1em;
  font-size: 1.4em;
}

.classification-labels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.list-item {
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: -1px;
}

.list-item.success {
  color: #3c763d;
  background-color: #dff0d8;
}

@media only screen and (max-width: 500px) {
  .results {
    grid-template-columns: 1fr;
  }
}

/* ============== Footer ============== */
.site-footer {
  padding-bottom: 0rem;
  color: #99999a;
  background-color: #fafafb;
  margin-top: 2em;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.small-font {
  font-size: 14px;
}

.site-footer .icon {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  fill: currentColor;
  padding-left: 5px;
}
