{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block content %}
<div class="results" id=results>
    <div class="message-relay">
        {% block message %}
        <h2>Message</h2>
        <p><i>"{{ query }}"</i></p>
        {% endblock %}
    </div>
    <div class="label-results">
        <h2>Labels</h2>
        <ul class="classification-labels">
            {% for category, classification in classification_result.items() %}
            {% if classification == 1 %}
            <li class="list-item success">{{category.replace('_', ' ').title()}}</li>
            {% else %}
            <li class="list-item">{{category.replace('_', ' ').title()}}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}