{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
<h4>MESSAGE</h4>
<p><i>{{query}}</i></p>
{% endblock %}

{% block content %}
<h1>Result</h1>
<ul class="classification-labels">
    {% for category, classification in classification_result.items() %}
    {% if classification == 1 %}
    <li class="list-item success">{{category.replace('_', ' ').title()}}</li>
    {% else %}
    <li class="list-item">{{category.replace('_', ' ').title()}}</li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}