<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disasters</title>

    <!-- css stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/typography.css') }}" />

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

    <div class="topnav" id="myTopnav">
        <h1 class="heading"><a href="/">Disaster Response Classification</a></h1>
        <a href="https://appen.com/datasets/combined-disaster-response-data/" target=”_blank”>Data</a>
        <a href="https://github.com/rjjfox/disaster-response-classification" target=”_blank”>
            <span class="github-icon"><svg viewBox="0 0 16 16">
                    <path
                        d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z">
                    </path>
                </svg>
            </span>
        </a>
        <a class="burger-icon" href="javascript:void(0);" onclick="myFunction()">
            <i class="fa fa-bars"></i></a>
    </div>

    <div class="hero">
        <div class="intro">
            <h1>Disaster Response Classification API</h1>
            <p>
                The API uses machine learning to categorise messages received during a crisis. Categorising messages
                into topics allows organisations to find relevant messages and prioritise accordingly.
            </p>
            <p>
                Messages get sent directly to organisations, appear in posts on social media and get reported in the
                news. Filtering through masses of data in the midst of a crisis is not what we want disaster
                response
                organisations to be worrying about.
            </p>
            <p>
                Training a machine learning model on 30,000 real messages received during events such as the 2010
                earthquakes in Haiti and Chile, floods in Pakistan in 2010 and super-storm Sandy in 2012, the API
                helps
                organisations focus on getting help to the right places.
            </p>
            <p>
                Try out the API here wth your own message.
            </p>

        </div>

        <div class="form">
            <form action="/go" method="get">
                <input type="text" name="query" placeholder="Enter a message to classify...">
                <div>
                    <button type="submit">Classify Message</button>
                </div>
            </form>
        </div>

        <div class="message">
            {% block message %}
            {% endblock %}
        </div>

    </div>

    <div class="overview">
        {% block content %}
        <div class="page-header">
            <h1 class="text-center">An Overview of the Training Data</h1>
        </div>

        {% for id in ids %}
        <div id="{{id}}"></div>
        {% endfor %}

        <script type="text/javascript">
        const graphs = {{graphJSON | safe}};
        const ids = {{ids | safe}};
        for(let i in graphs) {
            Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
        }
        </script>
        {% endblock %}
    </div>

    <script type="text/javascript">
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }
    </script>

</body>

</html>